$text-color: #333;
$white: #fff;

body,
html,
#app {
  height: 100%;
  margin: 0;
  width: 100%;
}

.app {
  top: 30%;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.x.axis {
  color: $text-color;
  font-family: GillSans-LightItalic;
  font-size: 20px;
  letter-spacing: 20px;
}

.timeline-chart-wrapper {
  position: relative;
}

.timeline,
.label-overlay {
  position: absolute;
}

.timeline-title {
  color: $text-color;
  font-family: GillSans;
  font-size: 30.12px;
}

.timeline-subtitle {
  color: $text-color;
  font-family: GillSans-Light;
  font-size: 14px;
  position: relative;
  text-align: justify;
  width: 475px;
}

.numbers-section {
  float: right;
}

.number-value {
  color: $text-color;
  font-family: GillSans;
  font-size: 40px;
}

.number-title {
  color: $text-color;
  font-family: GillSans-Light;
  font-size: 20px;
}

.relationships-title {
  fill: $text-color;
  font-family: GillSans-LightItalic;
  font-size: 20px;
}

.event-content {
  background-color: rgba($white, .5);
  color: $text-color;
  font-family: GillSans-LightItalic;
  font-size: 18px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  width: 120px;
}

.occupation-content {
  // background-color: rgba($white, .5);
  color: $text-color;
  font-family: GillSans-LightItalic;
  font-size: 18px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  // transform: rotate(90deg);
  width: 120px;
}

.occupation-icon {
  height: 20px;
  position: absolute;
  width: 20px;
}
