.x.axis {
  color: #333333;
  font-family: GillSans-LightItalic;
  font-size: 20px;
  letter-spacing: 20px;
}

.timeline {
  left: 5%;
  position: absolute;
  top: 10%;
}

.timeline-title {
  bottom: 10%;
  color: #333333;
  font-family: GillSans;
  font-size: 30.12px;
  position: absolute;
  right: 10%;
}

.timeline-subtitle {
  bottom: 3%;
  color: #333333;
  font-family: GillSans-Light;
  font-size: 14px;
  position: absolute;
  right: 3%;
  width: 500px;
}

.numbers-section {
  float: right;
}

.number-value {
  color: #333333;
  font-family: GillSans;
  font-size: 40px;
}

.number-title {
  color: #333333;
  font-family: GillSans-Light;
  font-size: 20px;
}

.relationships-title {
  fill: #333333;
  font-family: GillSans-LightItalic;
  font-size: 20px;
}
